BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
PointerAlignment: Left
BreakBeforeBraces: Allman
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
